<header>
    <div class="top-bar">
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
        </div>
        <div class="logo">
            <h1>Super Store</h1>
            <p>Premium  Since 1999</p>
        </div>
        <div class="user-options">
            <a href="/account"><i class="fas fa-user"></i> Account</a>
            <a href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
        </div>
    </div>
     
</header>