<div class="dashboard-container text-center">
    <h1>Welcome, Admin</h1>
    <p class="mb-4 text-center">Manage your website efficiently by navigating to the appropriate sections.</p>
    <div class="dashboard-buttons text-center">
        <a href="/admin/products" class="btn">Manage Products</a>
        <a href="/admin/categories" class="btn">Manage Categories</a>
    </div>
</div>
<hr>

<footer>
    <p class="text-center">&copy; 2024 Your Company. All Rights Reserved.</p>
</footer>