.summary {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .description {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  body{
    background-color: purple;
    color: white;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

/* Change color of semester project headings */
.card h5 {
    color: black !important; /* Set the color to black */
}
  