<div class="top-header">
    <div class="text-wrapper">
        <div class="scrolling-text">
            <p>
                Contact us via Whatsapp on 04 3353291 for any custom requirements or
                visit our showroom to discuss with our experts
            </p>
            <p>Free delivery & installation in Dubai for orders above AED 500</p>
        </div>
    </div>
</div>

<div class="search-logo container">
    <div class="row">
        <div class="search col-lg-3 col-xl-3 col-md-6 col-sm-12">
            <div class="content">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo col-lg-4 col-xl-4 col-md-6 col-sm-12">
            <img src="//www.classicfurniture.ae/cdn/shop/files/cf_logo_11nov2022_a831f756-3a1a-4735-8541-fe441083ec24.png?v=1687876743&amp;width=800"
                alt="Logo" width="150" height="auto" loading="eager" class="image-element">
        </div>
        <div class="account-cart col-lg-3 col-xl-3 col-md-6 col-sm-12">
            <div class="account me-3">
                <i class="fas fa-user"></i> Accounts
            </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i> Cart
            </div>
        </div>
    </div>
